$border: 1px solid black;
$card-gray: #3D3D3D;
$drop-shadow-banner: 4px 4px 4px rgba(0, 0, 0, 0.50);
$drop-shadow-cards: 4px 4px 4px rgba(0, 0, 0, 0.25);
$anime-card-width: 250px;
$anime-card-height-small: 350px;
$anime-card-height-large: 375px;
$anime-text-gradient: linear-gradient(180deg, #E53FC1 0%, #4743ED 100%);
$card-border: 15px;
$card-text-padding: 10px 15px 10px 15px;
$footer-gradient: linear-gradient(180deg, #ED6243 0%, #4743ED 100%);

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost';
    background-color: #1B1B1B;
}

.site-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

svg {
    filter: drop-shadow($drop-shadow-banner);
}

header {
    border: $border;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: $card-gray;
}

.header-logo {
    border: $border;
}

.nav-container {
    border: $border;
    width: 50%;
}

nav {
    border: $border;
    display: flex;
    justify-content: space-evenly;

    a {
        font-size: 2rem;
        text-shadow: $drop-shadow-banner;
        color: #FFF;
        text-decoration: none;
        transition: 0.3s;
    }
}

nav a:hover {
    color: darksalmon;
}

nav a:active {
    color: red;
}

// nav a:visited {
//     color: darksalmon;
// }

.dropdown-button {
    font-family: 'Jost';
    font-size: 1rem;
    position: absolute;
    top: 53px;
    right: 50px;
    padding: 10px;
    border-radius: 10px;
    border: $border;
    background-color: #606060;
    color: #FFF;
    cursor: pointer;
    transition: 0.3s;
}

.dropdown-button:hover {
    color: darksalmon;
}

.dropdown-menu {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 120px;
    right: 57px;
    padding: 10px;
    width: 60px;
    border: $border;
    border-radius: 10px;
    background-color: #606060;
    color: #FFF;
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 0.9rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-left: $border;
    border-top: $border;
    background-color: #606060;
}

.dropdown-ul {
    list-style: none;
    cursor: pointer;
}

.en {
    transition: 0.3s;
}

.en:hover {
    color: darksalmon;
}

.swe {
    transition: 0.3s;
}

.swe:hover {
    color: darksalmon;
}

.anime-banner-home {
    display: flex;
    justify-content: center;

    .anime-banner-home-main {
        min-width: 1000px;
        min-height: 250px;
        // max-width: 2000px;
        // max-height: 250px;
        width: 1000px;
        height: 250px;
        object-fit: cover;
        object-position: 100% 75%;
    }
}

.anime-header-main {
    display: flex;
    justify-content: center;
    color: #E5E5E5;
}

.anime-row-1 {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.anime-row-2 {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.anime-row-3 {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.anime-card {
    display: flex;
    width: $anime-card-width;
    height: $anime-card-height-large;
}

.anime-card img {
    width: $anime-card-width;
    height: $anime-card-height-large;
    border-radius: $card-border;
}

.anime-card a {
    width: $anime-card-width;
}

.anime-text p {
    display: flex;
    justify-content: space-evenly;
    padding: $card-text-padding;
    margin-top: 25px;
    width: $anime-card-width;
    height: 100px;
    color: #E5E5E5;
    font-size: 11px;
    background: $anime-text-gradient;
    box-shadow: $drop-shadow-cards;
    border-radius: $card-border;
}

.anime-banner {
    display: flex;
    justify-content: center;
}

.anime-banner img {
    min-width: 1920px;
    min-height: 533px;
    width: 1920px;
    height: 533px;
    object-fit: cover;
    object-position: 100% 0%;
}

footer {
    border: $border;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $footer-gradient;

    .footer-container {
        border: $border;
        width: 85%;
        height: 85%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .footer-info {
            border: $border;
            width: 150px;
            height: 150px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            .footer-info-vectors {
                border: $border;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;


                .location-vector {
                    border: $border;
                    width: 45px;
                    height: 45px;
                }

                .phone-vector {
                    border: $border;
                    width: 45px;
                    height: 45px;
                }

                .mail-vector {
                    border: $border;
                    width: 45px;
                    height: 45px;
                }

            }

            .footer-info-text {
                border: $border;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                font-size: 1.5rem;
                color: #FFF;
                gap: 10px;

                .location-text {
                    border: $border;
                    text-shadow: $drop-shadow-banner;
                }

                .phone-text {
                    border: $border;
                    text-shadow: $drop-shadow-banner;
                }

                .mail-text {
                    border: $border;
                    text-shadow: $drop-shadow-banner;
                }
            }
        }

        .footer-logo {
            border: $border;

            .footer-logo-svg {
                border: $border;
                width: 170px;
                height: 170px;
            }
        }

        .footer-socials {
            border: $border;
            width: 150px;
            height: 150px;
            display: inline-flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            gap: 5px;

            .github {
                border: $border;
                width: 45px;
                height: 45px;
            }

            .snapchat {
                border: $border;
                width: 45px;
                height: 45px;
            }

            .discord {
                border: $border;
                width: 45px;
                height: 45px;
            }
        }
    }
}