$border: 1px solid black;

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// body {
//     min-height: 100vh;
//     background-color: #ffcedf;
//     font-family: 'Jost';
//     display: flex;
//     flex-direction: column;
// }

// .header {
//     width: 100%;
//     min-height: 200px;
//     border: $border;
//     display: flex;
//     align-items: center;
//     justify-content: space-evenly;

//     .header-logo {
//         border: $border;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }

//     .nav {
//         font-size: 2rem;
//         width: 50%;
//         height: 100px;
//         border: $border;
//         display: flex;
//         justify-content: space-evenly;
//         align-items: center;

//         a {
//             text-decoration: none;
//             color: black;

//             :hover {
//                 color: salmon;
//             }
//         }

//         .nav-home {
//             border: $border;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//         }

//         .nav-about {
//             border: $border;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//         }

//         .nav-gallery {
//             border: $border;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//         }
//     }
// }

// .content {
//     flex: 1;
// }

// .footer {
//     width: 100%;
//     min-height: 300px;
//     border: $border;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     .footer-wrap {
//         width: 75%;
//         height: 75%;
//         border: $border;
//         display: flex;
//         justify-content: space-evenly;
//         align-items: center;

//         .footer-info {
//             width: 200px;
//             height: 200px;
//             border: $border;
//             display: flex;
//             flex-direction: row;
//             justify-content: space-evenly;
//             align-items: center;

//             .footer-info-vectors {
//                 border: $border;
//                 display: flex;
//                 flex-direction: column;
//                 gap: 10px;

//                 .location-vector {
//                     border: $border;
//                 }

//                 .phone-vector {
//                     border: $border;
//                 }

//                 .mail-vector {
//                     border: $border;
//                 }
//             }

//             .footer-info-text {
//                 height: 100%;
//                 font-size: 1.5rem;
//                 border: $border;
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: space-evenly;
//                 gap: 20px;

//                 .location-text {
//                     border: $border;
//                 }

//                 .phone-text {
//                     border: $border;
//                 }

//                 .mail-text {
//                     border: $border;
//                 }
//             }
//         }

//         .footer-logo {
//             width: 150px;
//             height: 150px;
//             border: $border;
//             display: flex;
//             justify-content: center;
//             align-items: center;

//         }

//         .footer-socials {
//             width: 200px;
//             height: 200px;
//             border: $border;
//             display: flex;
//             flex-direction: column;
//             justify-content: space-evenly;
//             align-items: center;

//             .twitter {
//                 border: $border;
//             }

//             .insta {
//                 border: $border;
//             }

//             .tiktok {
//                 border: $border;
//             }
//         }
//     }
// }

body {
    background-color: darksalmon;
}